<div *ngIf="videoGame" class="container">
    <div class="d-flex justify-content-center">
        <img class="my-3" style="max-width: 100%; max-height:500px;" src="{{videoGame.pictureUrl}}" alt="">
    </div>

    <h2 class="m-0"><strong>Title: </strong>{{videoGame.title}}</h2>
    <h4 class="m-0"><strong>Price: </strong>{{videoGame.price | currency}}</h4>
    <h4 class="m-0"><strong>Release Year: </strong>{{videoGame.releaseYear}}</h4>
    <h4 class="m-0"><strong>Rating: </strong>{{videoGame.rating}}/5</h4>
    <h4 class="m-0"><strong>Developer: </strong> {{videoGame.developer}}</h4>
    <h4 class="m-0"><strong>Publisher: </strong> {{videoGame.publisher}}</h4>
    <h4 class="m-0"><strong>Description: </strong> {{videoGame.description}}</h4>


    <div class="add_to_cart_section mt-3 d-flex align-items-center flex-column">
        <div class="add_to_cart">
            <button (click)="changeQuantity(true)" color="accent" mat-icon-button>
                <mat-icon class="remove_focus">add</mat-icon>
            </button>
            <span class="mr-2 ml-2">{{this.quantity}}</span>
            <button (click)="changeQuantity(false)" color="accent" mat-icon-button>
                <mat-icon class="remove_focus">remove</mat-icon>
            </button>
        </div>
        <button (click)="addItemToBasket()" style="width:400px;" mat-flat-button color="primary" class="my-3">Add to Cart</button>
    </div>


</div>