
  <div class="row">



    <section class="col-sm-5 col-md-4 col-lg-3">
      <ng-container *ngIf="developers && publishers">

      <h2 class="my-0">Sort</h2>
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of sortingOptions" [value]="option.name"
            (click)="onSortSelected(option.value)">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <h2 class="my-0">Developers</h2>
      <mat-action-list>
        <button mat-list-item *ngFor="let developer of developers"
          [class.active]="developer.id === this.shopParams.developerId" [value]="developer.id"
          (click)="onDeveloperSelected(developer.id)">
          {{developer.name}}
        </button>
      </mat-action-list>
      <h2 class="my-0">Publishers</h2>
      <mat-action-list>
        <button mat-list-item *ngFor="let publisher of publishers"
          [class.active]="publisher.id === this.shopParams.publisherId" [value]="publisher.id"
          (click)="onPublisherSelected(publisher.id)">
          {{publisher.name}}
        </button>
      </mat-action-list>
    </ng-container>

    </section>
    <section class="col-sm-7 col-md-8 col-lg-9">


      <div *ngIf="videoGames" class="d-flex justify-content-center align-items-center pb-2">

        <div class="form-inline mt-2">

          <form class="example-form">
          <mat-form-field style="width:150px;" class="example-full-width">
            <mat-label>Search</mat-label>
            <input #search matInput placeholder="Ex. Mario">
          </mat-form-field>
          </form>

        </div>
                  
        <button (click)="onSearch()" mat-stroked-button color="primary" class="remove-focus mr-2 ml-2 d-flex justify-content-center">Search</button>
        <button (click)="onReset()" mat-stroked-button color="primary" class="remove-focus">Reset</button>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5 d-flex align-items-center justify-content-center" *ngFor="let videoGame of videoGames">
          <app-product-item [videoGame]="videoGame"></app-product-item>
        </div>
      </div>

      <app-pager
      *ngIf="developers && publishers"
        [pageSize]="shopParams.pageSize"
        [totalCount]="totalCount"
        (pageChangedEmitter)="onPageChanged($event)"
      ></app-pager>


    </section>




  </div>
