<div
  class="d-flex flex-column justify-content-between flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm"
>

  <img routerLink="/" src="/assets/images/logo.png" alt="logo" style="max-height: 70px; cursor:pointer" />
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase">
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a mat-button routerLink="/shop"  routerLinkActive="active">Shop</a>
    <a mat-button routerLink="/test-error"  routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <!-- <a class="position-relative">
        <mat-icon aria-hidden="false" aria-label="Example shopping_cart icon" class="mr-2">shopping_cart</mat-icon>
        <div class="cart-no">5</div>
    </a> -->
    <a>
      <mat-icon matBadge="15" matBadgeColor="accent" class="mr-4">shopping_cart</mat-icon>
    </a>
    <button mat-stroked-button color="primary" class="remove-focus mr-2">
      Sign up
    </button>
    <button mat-flat-button color="primary" class="remove-focus">Login</button>
  </div>
</div>

